

html, body {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    background: #ff9f31;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  
  header {
    background-color: #333;
    color: white;
    padding: 16px 16px;
  }
  
  
  .header-inner {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
 
  .logo {

    height: 40px;

  }
  
  .menu {
    font-size: 1.5em;
    cursor: pointer;
  }
 
  .wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 16px;
    box-sizing: border-box;
    flex: 1;
  }
  
 
  footer {
    background-color: #222;
    color: white;
    padding: 16px 16px;
  }
  

  .footer-inner {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .background{
    color: bisque;
  }